<tr>
  <td><%= link_to user.name, user_path(user) %></td>
  <td><%= user.matches %></td>
  <td><%= user.matches_in_progress %></td>
  <td><%= user.wins %></td>
  <td><%= user.losses %></td>
  <td><%= user.draws %></td>
</tr>