<h1>Editing profile</h1>

<%= form_for @user do |u| %>

  <% if @user.errors.any? %>
      User not saved due to the following errors:
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <table>
    <tr>
      <td><%= u.label :name %></td>
      <td><%= u.text_field :name %></td>
    </tr>
    <tr>
      <td><%= u.label :profile_text %></td>
      <td><%= u.text_area :profile_text %></td>
    </tr>
    <tr>
      <td><%= u.label :user_image %></td>
      <td><%= u.file_field :user_image %></td>
    </tr>
    <tr>
      <td><%= u.label :remote_user_image_url %></td>
      <td><%= u.text_field :remote_user_image_url %></td>
    </tr>
  </table>

  <%= u.submit "Save changes to profile" %>

<% end %>