<h1>Leaderboard</h1>

<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont %>
    <%= f.submit %>
  </p>
<% end %>

<div class="leaderboard">
  <table>
    <tr>
      <th>Player</th>
      <th><%= sort_link @q, :wins %></th>
      <th><%= sort_link @q, :losses %></th>
      <th><%= sort_link @q, :draws %></th>
    </tr>
    <%= render @users %>
  </table>
</div>