<div class="profile-container">

  <h1><%= @user.name %></h1>

  <table>
    <tr>
      <td><div class="bigtag good"><%= @user.wins %></div></td>
      <td><div class="bigtag bad"><%= @user.losses %></div></td>
      <td><div class="bigtag neutral"><%= @user.draws %></div></td>
    </tr>
    <tr>
      <td>wins</td>
      <td>losses</td>
      <td>draws</td>
    </tr>
  </table>

  <p class="profile-text"><%= @user.profile_text %></p>

  <p><%= link_to "Edit profile", edit_user_path if can? :edit, @user %></p>
  
</div>

<%= image_tag @user.user_image.small.url, class: "profile-image", alt: "profile image" %>