<div class="wide-text">

  <h1><%= @user.name %></h1>

  <div class="stats">
    <table>
      <tr class="big">
        <td><div class="bigtag good"><%= @user.wins %></div></td>
        <td><div class="bigtag bad"><%= @user.losses %></div></td>
        <td><div class="bigtag neutral"><%= @user.draws %></div></td>
        <td><div class="bigtag neutral"><%= @user.matches_in_progress %></div></td>
      </tr>
      <tr>
        <td>wins</td>
        <td>losses</td>
        <td>draws</td>
        <td>matches<br>in progress</td>
      </tr>
    </table>
  </div>

  <p class="profile-text">
    <%= @user.profile %>
  </p>

  <p>
    <%= link_to "edit profile", edit_user_path if can? :edit, @user %>
  </p>
  
</div>

<img src="http://placehold.it/150x150/ffffff">