<tr>
  <td>
    <%= link_to(match) do %>Match <%= match.id %><% end %>
  </td>
  <td>
    <%= link_to match.player_x.name, user_path(match.player_x) %> vs. <%= link_to match.player_o.name, user_path(match.player_o) %>
  </td>
  <td>
    <%= match.short_description %>
  </td>
</tr>