<%= link_to(match) do %>
  <div class="box box-float <%= match.player_tag(current_user) %>">
    <p class="box-medium"><%= match.short_description(current_user) %></p>
    <p class="box-small">vs.</p>
    <%= image_tag match.opponent(current_user).user_image.tiny.url, alt: "opponent image" %>
    <p class="box-large"><%= match.opponent(current_user).name %></p>
  </div>
<% end if can? :read, match %>