<h1>New match</h1>

<%= form_for @match do |m| %>

  <% if @match.errors.any? %>
    <div class="error">
      Match not saved due to the following errors:
      <ul>
        <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Play as:
    <%= radio_button_tag(:icon, "X") %> X (first move)
    <%= radio_button_tag(:icon, "O") %> O (second move)
  </p>

  <p>
    Play against:
    <%= m.collection_select(:player_o_id, @opponents, :id, :name) %>  
  </p>

  <%= m.submit "Start new match" %>

<% end %>