<h1>New match</h1>

<%= form_for @match do |m| %>

  <% if @match.errors.any? %>
    <div class="error">
      Match not saved due to the following errors:
      <ul>
        <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= m.label :player_x_id %>
  <%= m.text_field :player_x_id %>
  <br>
  <%= m.label :player_o_id %>
  <%= m.text_field :player_o_id %>
  <br>
  <%= m.submit "Start new match" %>

  Start new game against friend or computer

<% end %>