<h1>New match</h1>

<%= form_for @match do |m| %>

  <% if @match.errors.any? %>
    <div class="error">
      Match not saved due to the following errors:
      <ul>
        <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= radio_button_tag(:icon, "X") %>
  <%= label_tag(:icon_x, "play as X") %>
  <%= radio_button_tag(:icon, "O") %>
  <%= label_tag(:icon_y, "play as O") %>

  <%= m.label :player_o_id %>
  <%= m.collection_select(:player_o_id, @opponents, :id, :name) %>

  <br>

  <%= m.submit "Start new match" %>

<% end %>