<% if @move && @move.errors.any? %>
  <p>
    Move not saved due to the following errors:
    <ul>
      <% @move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<h1 class="center"><%= @match.long_description(current_user) %></h1>

<table>
  <tr>
    <td><%= render partial: "player", locals: {match: @match, player: @match.player_x} %></td>
    <td><%= render partial: "board", locals: {match: @match} %></td>
    <td><%= render partial: "player", locals: {match: @match, player: @match.player_o} %></td>
  </tr>
</table>