<% if @move && @move.errors.any? %>
  <p>
    Move not saved due to the following errors:
    <ul>
      <% @move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<div class="text">

  <h1>Match <%= @match.id %></h1>

  <% if @match.complete? %>
    <h2>Game over!</h2>
  <% end %>

  <p>
    X: <%= @match.player_x.name %>
    <% if @match.player_x == @match.next_player && !@match.complete? %>
      ⬅ next player
    <% end %>
  </p>

  <p>
    O: <%= @match.player_o.name %>
    <% if @match.player_o == @match.next_player && !@match.complete? %>
      ⬅ next player
    <% end %>
  </p>

</div>

<table class="board">

  <% @match.board.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |cell| %>
        <td class="cell">
          <% if @match.moves.where(cell: cell).any? %>
            <%= render @match.moves.where(cell: cell) %>
          <% else %>
            <% if @match.next_player == current_user && !@match.complete? %>
              <%= link_to "⬚", move_path(@match, cell: cell), method: :post %>
            <% else %>
              <%= "⬚" %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>