<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-wrap">
    
    <header>
      <h1>Tictactoe</h1>
      <div class="authentication">
        <%= render partial: "/layouts/authentication" %>        
      </div>
    </header>

    <nav>
      <%= render partial: "/layouts/menu" %>
    </nav>

    <main>
      <div class="maincontainer">
        <%= render partial: "/layouts/messages" %>
        <%= yield %>        
      </div>
    </main>

    <footer>
      &copy; Tictactoers Anonymous 2014
    </footer>

  </div>

</body>
</html>
